<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>customerDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddTicket</display-name>
    <servlet-name>AddTicket</servlet-name>
    <servlet-class>com.customer.AddTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTicket</servlet-name>
    <url-pattern>/AddTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateticket</display-name>
    <servlet-name>Updateticket</servlet-name>
    <servlet-class>com.customer.Updateticket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateticket</servlet-name>
    <url-pattern>/Updateticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatetickets</display-name>
    <servlet-name>Updatetickets</servlet-name>
    <servlet-class>com.customer.Updatetickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatetickets</servlet-name>
    <url-pattern>/Updatetickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ticketdb</display-name>
    <servlet-name>Ticketdb</servlet-name>
    <servlet-class>com.customer.Ticketdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticketdb</servlet-name>
    <url-pattern>/Ticketdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getticketServlet</display-name>
    <servlet-name>getticketServlet</servlet-name>
    <servlet-class>com.customer.getticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getticketServlet</servlet-name>
    <url-pattern>/getticketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewtickets</display-name>
    <servlet-name>viewtickets</servlet-name>
    <servlet-class>com.customer.viewtickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewtickets</servlet-name>
    <url-pattern>/viewtickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewticketsServlet</display-name>
    <servlet-name>viewticketsServlet</servlet-name>
    <servlet-class>com.customer.viewticketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewticketsServlet</servlet-name>
    <url-pattern>/viewticketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewticketServlet</display-name>
    <servlet-name>viewticketServlet</servlet-name>
    <servlet-class>com.customer.viewticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewticketServlet</servlet-name>
    <url-pattern>/viewticketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteticket</display-name>
    <servlet-name>Deleteticket</servlet-name>
    <servlet-class>com.customer.Deleteticket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteticket</servlet-name>
    <url-pattern>/Deleteticket</url-pattern>
  </servlet-mapping>
</web-app>